body {
  width: 65%;
  margin: 5rem auto;
  background-color: navy;
  border-radius: 2rem;
  font-family: sans-serif;
}

header {
  position: relative;
  height: 300px;
}

img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 132px 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  padding: 2rem;
  grid-gap: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.destination,
#destination {
  grid-column: 1/-1;
  padding: 0.3rem;
}

fieldset {
  border: 0;
  grid-column: span 2;
  padding: 0;
}

#date,
#number {
  width: 90%;
  margin: 0.5rem 0;
  padding: 0.3rem;
}

button {
  grid-column: 2 / span 2;
  padding: 1rem;
  border-radius: 2rem;
  border: 0;
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

footer,
footer a {
  color: white;
  position: fixed;
  bottom: 5px;
  text-decoration: none;
}

@media (max-width: 642px) {
  h1 {
    padding: 113px 0;
  }
}
