body {
  width: 65%;
  margin: 5rem auto;
  background-color: navy;
  border-radius: 2rem;
}

header {
  position: relative;
  height: 400px;
}

img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: black;
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  box-sizing: border-box;
  line-height: 100%;
}

form {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
