<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Your Vacation</title>
    <link rel="icon" href="images/icon.jpg" />
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header>
      <img src="https://bit.ly/305-vacation" alt="" />

      <h1>Book Your Dream Vacation</h1>
    </header>
    <form id="form">
      <span class="destination">
        Destination
        <span id="err-des" class="err"> Choose a Destination! </span>
      </span>
      <select id="destination" name="destination">
        <option value="none">Choose a destination...</option>
        <option value="london">London, United Kingdom</option>
        <option value="paris">Paris, France</option>
        <option value="berlin">Berlin, Germany</option>
        <option value="rome">Rome, Italy</option>
        <option value="madrid">Madrid, Spain</option>
      </select>

      <fieldset>
        <label for="date">Departure Date:</label>
        <br />
        <input type="date" id="date" name="date" />
      </fieldset>
      <fieldset>
        <label for="number"
          >Number of Travelers:
          <span id="err-num" class="err"> Must Be Positive Number!</span>
        </label>
        <br />
        <input type="number" id="number" name="number" />
      </fieldset>

      <button type="submit">Find My Vacation</button>
    </form>
    <footer>
      GitHub Repository
      <a href="https://github.com/SamuelM007/midterm">
        : https://github.com/SamuelM007/midterm
      </a>
    </footer>
  </body>
</html>
